<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= page.title %></title>

	<style>
		:root {
			/* Fonts */
			--fontStack: "Helvetica", Arial, Verdana, sans-serif;
			--fontSize: calc(0.875em + (21 - 14) * (100vw - 412px) / (1920 - 412));

			/* Colors */
			--colorPrimaryForeground: hsl(0, 0%, 7%);
			--colorPrimaryBackground: hsl(0, 0%, 98%);
			--colorSuccess: hsl(120, 60%, 30%);
			--colorWarning: hsl(0, 60%, 40%);
		}

		body {
			font: normal normal 400 var(--fontSize)/100% var(--fontStack);
			color: var(--colorPrimaryForeground);
			background-color: var(--colorPrimaryBackground);
		}
	</style>

</head>
<body>
<% include primary-navigation.ejs %>