<% include ./partials/head.ejs %>

<main>
	<h1><%= page.title %></h1>
	<form method="post">
		<div class="form__inputGroup">
			<label for="login__username" class="input__label">Username</label>
			<input type="text" name="username" id="login__username" class="input__field" placeholder="you@email.com" required>
		</div>
		<div class="form__inputGroup">
			<label for="login__passphrase" class="input__label">Passphrase</label>
			<input type="password" name="passphrase" id="login__passphrase" class="input__field" placeholder="Your secret passphrase" required>
		</div>
		<button type="submit">Register <span class="icon-login"></span></button>
	</form>
</main>

<% include ./partials/after-footer.ejs %>